title: epwr.ca
description: Personal website and blog
url: "https://epwr.ca"

# Build settings
markdown: kramdown
permalink: /blog/:year/:month/:day/:title/

# Default front matter
defaults:
  - scope:
      path: ""
    values:
      layout: "default"
  - scope:
      path: "pages"
    values:
      permalink: /:basename/

# Exclude from build
exclude:
  - Gemfile
  - Gemfile.lock
  - Makefile
  - README.md
